<% Rails.logger.debug 'INDAVIEW!' %>
<p id="notice"><%= notice %></p>

<h1><%= Mom.model_name.human(count: 2) %> <%= t(:for_region_county, region: @region.name, county: @county.name) %></h1>

<table>
  <thead>
  <tr>
    <th><%= Mom.model_name.human %></th>
    <% @test_dates.map do |test_date| %>
      <th class="text-center"><%= test_date.date.to_s(:short) %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @moms.each do |mom| %>
    <tr class="<%= cycle('bg-gray-50', '') %>">
      <td class="flex flex-col">
        <%= mom.title %>
        <%= link_to mom.address, mom.map_url, target: '_blank' %>
      </td>
      <% @test_dates.map do |test_date| %>
        <% snapshot = mom.latest_snapshot_at(test_date) %>
        <td class="text-center <%= snapshot.available? ? 'bg-green-100' : 'bg-red-100' %>"><%= snapshot.is_closed ? t(:closed) : snapshot.free_capacity %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
