<div>
  <div class="max-w-7xl mx-auto">
    <%= t(:dashboard_info_html) %>
  </div>
  <div class="lg:text-right">
    <% if TestDateSnapshot.last_updated_at.present? %>
      <div class="flex flex-col text-sm italic lg:mb-0 mb-2">
        <div class="flex flex-col lg:flex-row lg:justify-end">
          <span class="lg:mr-1"><%= t(:last_updated_at) %> <%= l TestDateSnapshot.last_updated_at, format: :long %></span>
        </div>
        <%= t(:update_period_info_html, minutes: @update_interval) %>
      </div>
    <% end %>
  </div>
  <div class="p-8 bg-gray-200 rounded-xl my-4">
    <strong><%= t(:jump_to_region) %></strong>
    <div class="flex flex-wrap items-start mt-4">
      <% @regions.map do |region| %>
        <%= link_to region.name, root_path(anchor: dom_id(region)), class: 'mr-4 mb-2' %>
      <% end %>
      <%= link_to t(:other_region), root_path(anchor: 'other'), class: 'mr-4 mb-2' %>
    </div>
  </div>
  <%= render partial: 'region', collection: @regions %>
  <div class="mb-8">
    <span class="text-2xl font-bold"><a id="other"></a><%= t(:other_region) %></span>
    <div class="mt-2">
      <%= render 'moms', title: nil, moms: moms_for(nil) %>
    </div>
  </div>
</div>