<div>
  <% moms.map do |mom| %>
    <div class="flex lg:flex-row flex-col bg-gray-100 rounded-2xl mb-1 overflow-hidden items-stretch">
      <div class="flex flex-col items-start justify-between p-2 px-4 lg:max-w-sm w-full">
        <%= mom.title %>
        <%= link_to mom.address, mom.map_url, target: '_blank', class: 'text-sm' %>
      </div>
      <div class="flex w-full md:overflow-hidden overflow-scroll">
        <% @test_dates.map do |test_date| %>
          <% snapshot = mom.latest_snapshot_at(test_date) %>
          <% if snapshot.present? %>
            <div class="w-full flex flex-col items-center md:justify-center justify-between p-2 bg-opacity-60 <%= snapshot.available? ? 'bg-green-100' : 'bg-red-100' %>">
              <div class="text-xs text-center md:hidden block">
                <%= l test_date.date, format: :short %>
              </div>
              <div class="flex items-center justify-center md:mt-0 mt-2">
                <% if snapshot.is_closed %>
              <span title="<%= t(:closed) %>" class="text-red-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline fill-current" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
              </span>
                <% else %>
                  <%= snapshot.free_capacity %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
