<div class="<%= classes %>">
  <div class="mb-4">
    <span class="text-lg font-medium md:hidden block"><%= title %></span>
    <div>
      <div class="md:block hidden">
        <div class="flex lg:flex-row flex-col mb-1 lg:h-8">
          <div class="flex flex-col lg:mb-2 lg:max-w-sm w-full">
            <h3 class="text-lg font-medium"><%= title %></h3>
          </div>
          <div class="flex items-stretch w-full">
            <% plan_dates.map do |plan_date| %>
              <div class="w-full flex flex-col items-center justify-center text-center text-sm text-gray-500">
                <span><%= l plan_date.date, format: '%a' %></span>
                <span><%= l plan_date.date, format: '%d %b' %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= render Dashboard::PlacePlanComponent.with_collection(places, plan_dates: plan_dates) %>
    </div>
  </div>
</div>