<div
  class="flex items-center"
  data-controller="refresh-info"
  data-refresh-info-last-updated-value="<%= last_updated_at.iso8601 %>"
  data-refresh-info-update-interval-value="<%= update_interval %>"
  data-refresh-info-tick-interval-value="1000"
  data-refresh-info-fresh-class="refresh-info--indicator-fresh"
  data-refresh-info-old-class="refresh-info--indicator-old"
>
  <span class="text-2xl mx-2" data-refresh-info-target="oldIndicator">&ofcir;</span>
  <div class="flex flex-col text-base md:text-xs">
    <span title="<%= l last_updated_at, format: :long %>">
      <%= t(:'last_updated_ago.prefix') %>
      <span data-refresh-info-target="output"></span><%= t(:'last_updated_ago.suffix') %>
    </span>
    <span>
    <%= t(:update_period_info_html, every_minutes: t(:every_minutes, count: update_interval)) %>
    </span>
  </div>
</div>
