<div class="max-w-7xl mx-auto lg:px-0 md:px-4 px-2 py-6 flex flex-col md:flex-row space-x-4 items-center">
  <div class="md:w-1/2">
    <h1 class="md:text-4xl text-2xl text-black">
      <%= title %>
    </h1>
    <div class="py-4 text-gray leading-7">
      <%= header %>
    </div>
    <div class="mt-8 md:text-left text-center">
      <%= link_to action_title, action_link, class: 'button' %>
    </div>
  </div>
  <div class="md:w-1/2 md:flex hidden items-center justify-center">
    <%= image_tag image %>
  </div>
</div>
<div class="max-w-7xl mx-auto warning">
  <%= render Dashboard::NoticeComponent.new(type: :danger, message: warning) %>
</div>
