<div class="flex lg:flex-row flex-col bg-gray-100 rounded-2xl mb-1 overflow-hidden items-stretch <%= classes %>">
  <div class="flex flex-row md:items-center justify-between lg:max-w-sm w-full">
    <div class="flex-1 flex flex-col items-start justify-between py-2 md:pb-2 pb-0 pl-4 pl md:pr-1">
        <span class="text-sm font-medium">
          <% if place.commercial? %>
          <span class="uppercase text-xs px-2 py-1 rounded bg-yellow-500 font-bold text-white"><%= t(:commercial) %></span>
          <% end %>
          <%= place.title %>
        </span>
      <%= link_to place.map_url, target: '_blank', class: 'address-link' do %>
        <%= place.address %>
        <svg xmlns="http://www.w3.org/2000/svg" width="12.467" height="9.496" viewBox="0 0 12.467 9.496" class="ml-0.5 inline align-middle">
          <path d="M285.188,5948.062h5.046a.3.3,0,0,0,.3-.3v-2.078a1.192,1.192,0,0,1,2.027-.843l3.562,3.562a1.2,1.2,0,0,1,0,1.686l-3.562,3.562a1.192,1.192,0,0,1-2.027-.843v-2.078a.3.3,0,0,0-.3-.3h-5.046a1.187,1.187,0,1,1,0-2.375Z" transform="translate(-284.001 -5944.501)" fill="#838383"/>
        </svg>
      <% end %>
    </div>
    <div class="flex-0 w-32 flex justify-center items-center">
      <% if place.supports_reservation %>
        <div class="px-2 md:py-4 py-2 flex items-end justify-end">
          <%= link_to t(:make_reservation), place.final_reservations_url, target: '_blank', class: 'button-small' %>
        </div>
      <% else %>
        <div class="px-2 md:py-4 py-2 flex items-end justify-end">
          <%= link_to t(:more_info), place.final_reservations_url, target: '_blank', class: 'button-small' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex w-full md:overflow-hidden overflow-scroll">
    <%= render Dashboard::PlacePlanCellComponent.with_collection(plan_dates, place: place) %>
  </div>
</div>
