<div class="flex lg:flex-row flex-col bg-gray-100 rounded-2xl mb-1 overflow-hidden items-stretch <%= classes %>">
  <div class="flex flex-row md:items-center justify-between lg:max-w-sm w-full">
    <div class="flex-1 flex flex-col items-start justify-between py-2 md:pb-2 pb-0 pl-4 pl md:pr-1">
        <span class="text-sm font-medium">
          <% if place.commercial? %>
          <span class="uppercase text-xs px-2 py-1 rounded bg-yellow-500 font-bold text-white"><%= t(:commercial) %></span>
          <% end %>
          <%= place.title %>
        </span>
      <%= link_to place.address, place.map_url, target: '_blank', class: 'address-link' %>
    </div>
    <div class="flex-0 w-32 flex justify-center items-center">
      <% if place.supports_reservation %>
        <div class="px-2 md:py-4 py-2 flex items-end justify-end">
          <div class="inline-flex rounded-md shadow">
            <%= link_to t(:make_reservation), place.final_reservations_url, target: '_blank', class: 'inline-flex items-center justify-center px-3 py-2 text-sm border border-transparent text-base text-center font-medium rounded-md text-white bg-green-600 hover:bg-green-700 hover:text-white' %>
          </div>
        </div>
      <% else %>
        <div class="px-2 md:py-4 py-2 flex items-end justify-end">
          <div class="inline-flex rounded-md shadow">
            <%= link_to t(:more_info), place.final_reservations_url, target: '_blank', class: 'inline-flex items-center justify-center px-3 py-2 text-sm border border-transparent text-base text-center font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 hover:text-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex w-full md:overflow-hidden overflow-scroll">
    <%= render Dashboard::PlacePlanCellComponent.with_collection(plan_dates, place: place) %>
  </div>
</div>
