<% content_for :menu_info do %>
  <%= render Dashboard::DataRefreshInfoComponent.new(snapshot_class: VaccinationDateSnapshot, update_interval: Rails.application.config.x.vaccination.update_interval) %>
<% end %>
<%= render Dashboard::PromotionComponent.new %>
<%= render Dashboard::NoticeComponent.new(type: :announcement, message: t(:announcement_html)) %>
<%= render Dashboard::InfoComponent.new(
    title: t(:'vaccination.title_html'),
    header: t(:'vaccination.dashboard.header_html'),
    image: 'vaccination_header_image.png',
    warning: t(:'vaccination.dashboard.warning_html'),
    action_title: t(:'vaccination.dashboard.action_title'),
    action_link: "#{vaccination_root_path}#list",
) %>
<div
  data-controller="region-notifications"
  data-region-notifications-enabled-class="enabled"
  data-region-notifications-disabled-class="disabled"
  data-region-notifications-allow-disabled-class="hidden"
  data-region-notifications-hide-class="hidden"
  data-region-notifications-subscriptions-url-value="<%= vaccination_subscriptions_path %>"
  data-region-notifications-service-worker-url-value="<%= asset_pack_path('firebase/service_worker.js') %>"
>
  <%= render Dashboard::JumpToRegionComponent.new(regions: @regions, places_by_county: @places_by_county, plan_dates: @plan_dates) %>
  <%= render Dashboard::RegionCountiesComponent.with_collection(@regions, places_by_county: @places_by_county, plan_dates: @plan_dates) %>
</div>
<%= render Dashboard::OthersRegionComponent.new(places_by_county: @places_by_county, plan_dates: @plan_dates) %>
