<% content_for :title do t(:'vaccination.title') end %>
<div>
  <div class="max-w-7xl mx-auto">
    <%= t(:'vaccination.dashboard_info_html') %>
  </div>
  <div class="lg:text-right">
    <% if VaccinationDateSnapshot.last_updated_at.present? %>
      <div class="flex flex-col text-sm italic lg:mb-0 mb-2">
        <div class="flex flex-col lg:flex-row lg:justify-end">
          <span class="lg:mr-1"><%= t(:last_updated_at) %> <%= l VaccinationDateSnapshot.last_updated_at, format: :long %></span>
        </div>
        <%= t(:update_period_info_html, minutes: @update_interval) %>
      </div>
    <% end %>
  </div>
  <%= render 'layouts/jump_to_region' %>
  <%= render 'layouts/empty_switcher' %>
  <%= render partial: 'region', collection: @regions %>
  <%= render 'others_region' %>
</div>