<div class="max-w-7xl mx-auto text-center my-4 text-sm text-gray">
  <div class="flex flex-col items-center">
    <div class="my-4">
      <%= link_to 'https://www.freevision.sk', target: '_blank' do %>
        <%= image_tag 'freevision_logo_horizontal.png', title: 'freevision.sk logo', width: 150 %>
      <% end %>
    </div>
    <div>
      <p><%= t(:footer_html) %></p>
      <p class="my-4">
        <%= link_to t('footer_menu.cookies'), cookies_page_path, class: 'text-gray' %>
        |
        <a href="https://github.com/alhafoudh/sk-covid-testing" target="_blank" rel="noopener" class="text-gray"><%= t('footer_menu.github') %></a>
      </p>
    </div>
  </div>
</div>
