<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-5KXNCRG');</script>
  <!-- End Google Tag Manager -->

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags unless response.cache_control[:public] %>
  <%= csp_meta_tag %>

  <title><%= content_for?(:title) ? yield(:title) : meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:image" content="<%= meta_image %>"/>
  <meta property="og:description" content="<%= meta_description %>"/>
  <meta property="og:site_name" content="<%= meta_title %>"/>

  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KXNCRG"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div>
  <%= render 'layouts/navigation' %>

  <header>
    <div class="max-w-7xl mx-auto py-6 px-2 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        <%= content_for?(:title) ? yield(:title) : meta_title %>
      </h1>
    </div>
  </header>

  <main>
    <%= render 'layouts/flash' %>
    <div class="max-w-7xl mx-auto py-6 lg:px-8 px-2">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </main>

  <%= render 'layouts/cookies_consent' %>
</div>
</body>
</html>
