<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render 'head' %>
  <%= firebase_app_config_tag %>
</head>

<body>
<%= gtm_noscript_tag %>
<%= js_strings_tag %>
<div>
  <%= render 'layouts/navigation' %>

  <% if content_for?(:title) %>
    <header class="bg-white shadow mb-8">
      <div class="max-w-7xl mx-auto py-6 px-2 lg:px-8">
        <h1 class="text-4xl text-black">
          <%= yield :title %>
        </h1>
      </div>
    </header>
  <% end %>

  <main>
    <%= render 'layouts/flash' %>
    <div class="max-w-7xl mx-auto lg:px-8 px-2">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </main>

  <%= render 'layouts/cookies_consent' %>
  <%= render Dashboard::JumpToTopComponent.new %>
  <%= render Notifications::NotificationsComponent.new %>
</div>
</body>
</html>
