<!DOCTYPE html>
<html>
<head>
  <title>Slovakia COVID-19 National testing dashboard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WL7T2HS113"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-WL7T2HS113');
  </script>
</head>

<body>
<div>
  <% if content_for?(:header) %>
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-2 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          <%= yield(:header) %>
        </h1>
      </div>
    </header>
  <% end %>

  <main>
    <%= render 'layouts/flash' %>
    <div class="max-w-7xl mx-auto py-6 lg:px-8 px-2">
      <%= yield %>
    </div>
  </main>
</div>
</body>
</html>
