<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= gtm_script_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags unless response.cache_control[:public] %>
  <%= csp_meta_tag %>

  <title><%= content_for?(:title) ? yield(:title) : meta_title %> &bull; <%= t(:app_title) %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:image" content="<%= meta_image %>"/>
  <meta property="og:description" content="<%= meta_description %>"/>
  <meta property="og:site_name" content="<%= meta_title %>"/>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">

  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= favicon_pack_tag 'favicon.png', rel: 'icon', type: 'image/png' %>

  <%= firebase_app_config_tag %>
</head>

<body>
<%= gtm_noscript_tag %>
<div>
  <%= render 'layouts/navigation' %>

  <% if content_for?(:title) %>
    <header class="bg-white shadow mb-8">
      <div class="max-w-7xl mx-auto py-6 px-2 lg:px-8">
        <h1 class="text-4xl text-black">
          <%= yield :title %>
        </h1>
      </div>
    </header>
  <% end %>

  <main>
    <%= render 'layouts/flash' %>
    <div class="max-w-7xl mx-auto lg:px-8 px-2">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </main>

  <%= render 'layouts/cookies_consent' %>
  <%= render Dashboard::JumpToTopComponent.new %>
  <%= render Notifications::NotificationsComponent.new %>
</div>
</body>
</html>
