<% content_for :title do t(:'testing.title') end %>
<div>
  <div class="max-w-7xl mx-auto">
    <%= t(:'testing.dashboard_info_html') %>
  </div>
  <div class="lg:text-right">
    <%= render Dashboard::DataRefreshInfoComponent.new(snapshot_class: TestDateSnapshot, update_interval: Rails.application.config.x.testing.update_interval) %>
  </div>
  <%= render Dashboard::JumpToRegionComponent.new(regions: @regions) %>
  <%= render Dashboard::EmptySwitcherComponent.new %>
  <%= render Dashboard::RegionCountiesComponent.with_collection(@regions, places_by_county: @places_by_county, plan_dates: @plan_dates) %>
  <%= render Dashboard::OthersRegionComponent.new(places_by_county: @places_by_county, plan_dates: @plan_dates) %>
</div>